fathomnet-out-of-sample-detection
fathomnet-venv
kaggle_files/images/
kaggle_files/images_eval/
myenv/
*.csv
*.env
*.csv
myenv
data
models
kaggle_files/images/
data
models
__pycache__/
*.pyc
*.pyo
*.pyd
*.png
.venv/
env/
venv/
dataset.pt
